:root {
    --color-theme: #0092ca;
    --color-theme-shadow: #0075a2;
    --color-text: black; /* TODO */
    --color-background: white; /* TODO */
    --color-separator: #cecfd1;

    --color-notice-info: #cadee4;
    --color-notice-warning: #ffe4b2;
    --color-notice-error: #eed1d1;
}
