.article {
    height: 100%;

    .article-header {
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
    
            li {
                height: var(--fs-500);
                margin-right: var(--size-400);
            }
        }
    }
    
    .article-content {        
        h1, h2, h3, h4, h5, h6, p {
            margin-block-start: var(--fs-500);
            margin-block-end: var(--fs-100);
        }
        /* Remove the margin separating paragraphs from (non-major) headers directly above them */
        h3 + p, h4 + p, h5 +p, h6 + p {
            margin-block-start: 0;
        }

        h2 {
            border-bottom: 1px solid var(--color-separator);
        }
        
        
        ul, ol {
            padding-inline-start: var(--size-600);
            margin-block-end: var(--fs-500);
        
            li {
                margin-bottom: 0.5em;
            }
        }

        .astro-code {
            margin-top: var(--fs-500);
            margin-bottom: var(--fs-500);
        }
        /* Remove the margin after a paragraph preceeding a code block, to allow "captioning" code more easily */
        p + .astro-code {
            margin-top: calc(0px - var(--fs-500));
        }
    }
    
    .article-footer {
        float: left;
        width: 100%;

        &:has(.frontmatter-chip) {
            border-top: 1px solid var(--color-separator);
            padding-top: var(--size-600);
        }
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    
    span {
        margin-right: var(--size-400);
        align-content: center;
    }

    .frontmatter-chip {
        align-self: center;
        height: var(--fs-500);
    }
    
    .category-list {
        .category {
            display: inline-block;
            border: 1px solid var(--color-separator);
            border-radius: var(--size-200);
            margin-right: var(--size-400);
            padding: var(--size-200);
            font-size: var(--fs-300);
        }
    }
}
